body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d8dfdc;
}
#prompt-btn {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#square-container {
    display: grid;
    width: 960px;
    height: 960px;
}

.square {
    background-color: #b78be9;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.square:hover {
    background-color: #073f3f;
}