body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #03302a;
}
#button-container {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #f3f3f3;
}
#prompt-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#square-container {
    display: grid;
    margin-top: 20px;
    width: 960px;
    height: 960px;
    background-color: #ccc;
}

.square {
    border: 1px solid #000000;
    transition: background-color 0.3s;
}
